{% extends "base.html" %}
{% load static %} 
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}" />
{% endblock%} 

{% block content %}

{% for story in stories_by_author %} 
{% if forloop.first %}
<h2>Stories by {{ story.author }}</h2>
{% endif %}
{% endfor %} 
<div id="stories-by-author">
  {% if stories_by_author %}
  {% for story in stories_by_author %} 
  {% include "./storyCard.html" with story=story %} 
  {% endfor %} 
  {% else %}
  <p>This user is lazy, and has not published any stories</p>
  {% endif %}
</div>
{% endblock%} 